<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eric Miller</title>
    <meta name="description" content=""/>
    <meta name="keywords" content="javascript software developer"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />-->
    <script>document.documentElement.className = 'js'</script>

    {{{_sections.head}}}
</head>
<body class="">
<div id="particles-js">
</div>
<div class="navbar-fixed-top">
    <div class="container-fluid">
        <div class="freelancer-status pull-right">
            <p><span class="available"></span>Hire me</p>
        </div>
    </div>
</div>
<section>
    {{{body}}}
</section>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/typed.min.js"></script>
<script src="/javascripts/particles.js"></script>
{{{_sections.scripts}}}
</html>
