<footer class="navbar-fixed-top footer text-center">
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <div class="freelancer-status">
                <!--<div class="gps_ring-available"></div>-->
                <p><span class="available"></span>Hire me</p>
            </div>
        </div>
    </div>
</footer>
<div class="content">
    <div class="greeting">
    </div>
    <div class="intro">
    </div>
    <div class="skills">
    </div>
    <div class="tech">
    </div>
    <div class="github">
    </div>
    <a href="#" id="read-more" class="hide">Read more...</a>
    <a href="#" id="reload-me" class="hide">Reload</a>
</div>
<footer class="navbar-fixed-bottom footer text-center">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <a href="#">Email Me</a>
        </div>
        <div class="col-md-4">
            <a href="#">Chat with my bot</a>
        </div>
    </div>
</footer>
