{{#section 'head'}}
    <!--<style href="/stylesheets/demo.css"></style>-->
    <script src="/segment-js/dist/segment.min.js"></script>
    <script src="javascripts/d3-ease.v0.6.js"></script>
    <script src="/d3-ease/build/d3-ease.min.js"></script>
{{/section}}
<section class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="content">

                <div class="greeting">
                </div>
                <div class="intro">
                </div>
                <div class="tech">
                </div>
                <div class="skills">
                </div>
                <div class="passion">
                </div>
                <div class="who">
                </div>
                <div class="github">
                </div>
                <button id="read-more" class="btn btn-link hide">Read more...</button>
            </div>

        </div>
    </div>
</section>



{{#section 'scripts'}}

    <script type="application/javascript" src="/javascripts/app.bundle.js"></script>
    <script src="javascripts/mo.min.js"></script>
    <script>
        App.me({delay: 1500})

    </script>
{{/section}}
