<section class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="content">
                <div class="greeting">
                </div>
                <div class="intro">
                </div>
                <div class="skills">
                </div>
                <div class="tech">
                </div>
                <div class="github">
                </div>
                <a href="#" id="read-more" class="hide">Read more...</a>
                <a href="#" id="reload-me" class="hide">Reload</a>
            </div>

        </div>
    </div>
</section>
{{#section 'footer'}}

    <footer class="navbar navbar-fixed-bottom  footer text-center">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <a href="#">Email Me</a>
            </div>
            <div class="col-md-4">
                <a href="/voice-mail">Leave a voice mail</a>

                <a href="#">Chat with my bot</a>
            </div>
        </div>

    </footer>
{{/section}}


{{#section 'scripts'}}
    <script>
        $(document).ready(function () {
            particlesJS.load('particles-js', 'particles.json', function () {
            })
            retype()
            $('#read-more').click(function () {
                $('#read-more').addClass('hide')
                $('.tech').typed({
                    strings: ['Currently I am writing applications node.js but I love python, go, and swift.'],
                    typeSpeed: 0,
                    html: true,
                    showCursor: false,
                    startDelay: 0,
                    callback: function () {
                        $('.github').typed({
                            strings: ['Check me out on <a href="https://github.com/epmiller8464">Github</a>'],
                            typeSpeed: 0,
                            html: true,
                            showCursor: false,
                            startDelay: 0,
                            callback: function () {
                                $('#reload-me').removeClass('hide')

                            }
                        })
                    }
                })
            })
            $('#reload-me').click(function () {
                $('#reload-me').addClass('hide')
                retype()
            })
        })

        function retype () {

            $('.greeting').text('')
            $('.intro').text('')
            $('.skills').text('')
            $('.tech').text('')
            $('.github').text('')
            $('.greeting').typed({
                strings: ['Hello'],
                typeSpeed: 50,
                showCursor: false,
                callback: function () {
//              /,
                    $('.intro').typed({
                        strings: ['My name is Eric Miller I am software developer in Austin, TX.'],
                        typeSpeed: 10,
                        html: true,
                        showCursor: false,
                        startDelay: 10,
                        callback: function () {
                            $('.skills').typed({
                                strings: ['I like tight time lines and developing elegant solutions to complex problems. I am a full-stack javascript developer.'],
                                typeSpeed: 0,
                                html: true,
                                showCursor: false,
                                startDelay: 20,
                                callback: function () {
                                    $('#read-more').removeClass('hide')
                                }
                            })
                        }
                    })

                }
            })
        }

    </script>
{{/section}}
