{{#section 'head'}}
    <!--<style href="/stylesheets/demo.css"></style>-->
    <script src="/segment-js/dist/segment.min.js"></script>
    <script src="javascripts/d3-ease.v0.6.js"></script>
    <script src="/d3-ease/build/d3-ease.min.js"></script>
{{/section}}
<section class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="content">

                <div class="greeting">
                </div>
                <div class="intro">
                </div>
                <div class="tech">
                </div>
                <div class="skills">
                </div>
                <div class="passion">
                </div>
                <div class="who">
                </div>
                <div class="github">
                </div>
                <button id="read-more" class="btn btn-link hide">Read more...</button>
            </div>

        </div>
    </div>
</section>
{{#section 'footer'}}

    <footer class="navbar navbar-fixed-bottom  footer text-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <a title="Email Me" href="mailto:epmiller8464@gmail.com" class="btn btn-link btn-lg">
                    <span class="glyphicon glyphicon-envelope"></span><br/>Email
                </a>
                <a class="btn btn-link btn-lg" href="/voicemail">
                    <span class="fa fa-microphone"></span><br/>Web Mail
                </a>

                <a href="tel:+1{{phone_number}}" id="sms-link" class="btn btn-link"><span
                        class="glyphicon glyphicon-phone"></span><br/>{{phone_number}}
                </a>
            </div>
        </div>

    </footer>
{{/section}}


{{#section 'scripts'}}

    <script type="application/javascript" src="/javascripts/app.bundle.js"></script>
    <script src="javascripts/mo.min.js"></script>
    <script>
        App.me({delay: 1500})

    </script>
{{/section}}
