{{#section 'head'}}
    <script src="/recordrtc/RecordRTC.js"></script>
    <script src="/socket.io/socket.io.js"></script>
{{/section}}
<section class="container content">
    <div class="row">
        <div class="col-md-6">
        <span class="input-group-lg step-1">
            <span class="input-lg">
                <label>Enter your Email</label>
                <input class="form-control" type="email" name="email" placeholder="e.g. tom@gmail.com"
                       style="background: transparent;" inputmode=""/>
            </span>
        </span>
            <span class="input-group-lg step-2">
            <span class="input-lg">
                    <audio id="camera-preview" controls
                           style="border: 1px solid rgb(15, 158, 238); width: 94%;"></audio>
                <span style="display:none;">
                    <label id="percentage">Ffmpeg Progress 0%</label>
                    <progress id="progress-bar" value="0" max="100"></progress>
                    <br/>
                    </span>
                <span>
        <button id="start-recording" disabled>Start Recording</button>
        <button id="stop-recording" disabled>Stop Recording</button>
            </span>
            </span>
        </span>
            <button type="button" class="btn btn-link next pull-right">Next</button>
        </div>
        <div class="col-md-6">
            <div class="post">
                <h2>Visualizer</h2>
                <p>
                <p>Using the AnalyserNode and some Canvas 2D visualizations to show both time- and frequency-
                    domain.</p>
                </p>
                <p>
                <p>
                    <button id="playback-click" style="display: block" disabled="true">Please wait, loading...</button>
                    <button id="rerecord" style="display: block" disabled="true">Re-record</button>
                    <canvas></canvas>
                </p>
                </p>
            </div>
        </div>
    </div>
</section>


{{#section 'scripts'}}
    <!--<script src="/static/js/shared.js"></script>-->
    <!--<script src="visualizer-sample.js"></script>-->


    <script>
        var stats = {
            step: 1
        }
        $(document).ready(function () {
            $('[name=email]').keypress(function () {
                if (new RegExp(/.+\@.+\..+/).test($(this).val())) {
                    $('.btn.next').removeClass('hide')
                    incrementStep()

                }

            })
            $('[name=email]').focusout(function () {
                if (new RegExp(/.+\@.+\..+/).test($(this).val())) {
                    $('.btn.next').removeClass('hide')
                    incrementStep()
                }

            })

            $('.next').click(function () {
                //1. hide the previous step
                //2. enable client side socket.io code
                console.log(stats)
                $('.step-' + stats.step).removeClass('hide')
                if ((stats.step - 1) > 0) {
                    $('.step-' + (stats.step - 1)).addClass('hide')
                }
            })
        })

        function incrementStep () {
            stats.step++
        }

    </script>
    <script src="/javascripts/audio-bundle.js"></script>


{{/section}}