{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/demo.css"/>
    <script src="/recordrtc/RecordRTC.js"></script>
    <script src="/socket.io/socket.io.js"></script>
{{/section}}
<section class="container content">
    <div class="voice-message-container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="voice-message-text">
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="pull-right ">
                <button id="unmute-btn" type="button" class="btn btn-link">
                    <span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span> Unmute
                </button>
                <button id="replay-btn" type="button" class="btn btn-link">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Replay
                </button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <button id="show-record-btn" type="button" class="btn btn-link btn-lg fs-2x ">
                <span class="glyphicon glyphicon-record" aria-hidden="true"></span> Record Me A Message
            </button>
        </div>
        <div id="record-container" class="col-md-12 hide">
        <span class="input-group-lg">
            <span class="input-lg">
                <label>Enter a valid email</label>
                <input class="form-control" type="email" autocomplete="off" name="email"
                       placeholder="e.g. tom@gmail.com" style="background: transparent;"/>
            </span>
        </span>
            <div class="audio-controls hide">
                <div class="col-md-12">
                    <canvas id="live-audio-canvas" class=""></canvas>
                    <img id="snapshot">
                    <label class="status on">The mic is hot.....</label>
                    <label class="time-remaining pull-right"></label>

                </div>
                <div class="text-center" role="group" aria-label="...">
                    <button id="record-btn" type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-record" aria-hidden="true"></span> Record
                    </button>
                    <button id="stop-recording-btn" type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop
                    </button>
                    <button id="play-btn" type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Play
                    </button>
                    <button id="save-upload-btn" type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Upload Recording
                    </button>

                </div>
            </div>
            <span>
                    <audio id="camera-preview" controls class="hide"
                           style="border: 1px solid rgb(15, 158, 238); width: 94%;"></audio>
                <span style="display:none;">

                    <progress id="progress-bar" value="0" max="100"></progress>
                    <br/>
                    </span>
                <span>

            </span>
            </span>

            <span class="input-group-lg step-2">
        </span>
            <button type="button" class="btn btn-link next pull-right ">Next</button>
            <!--<button type="button" class="btn btn-link pull-right" id="snap">Capture Image</button>-->
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-12">
        {{#each images}}
            <div class="grid__item">
                <button type="button" class="btn btn-link" data-audio-url="{{this.audio_path}}">
                    <audio src="{{this.audio_path}}" controls
                           style="background-color: transparent;display:none;"></audio>
                    <img class="grid__img" src="{{this.image}}" alt="Some image"/>
                </button>
            </div>
        {{/each}}
    </div>
</div>

<main class="hide">
    <div class="content content--side">
        <div class="control control--grids">
            <span class="control__title">Stuff</span>
        </div>
    </div>
    <div class="content content--side content--right">
        <div class="control control--effects">
            <span class="control__title">run effect</span>
            <button class="control__btn" data-fx="Hapi">Hapi</button>
            <button class="control__btn" data-fx="Amun">Amun</button>
            <button class="control__btn" data-fx="Kek">Kek</button>
            <button class="control__btn" data-fx="Isis">Isis</button>
            <button class="control__btn" data-fx="Montu">Montu</button>
            <button class="control__btn" data-fx="Osiris">Osiris</button>
            <button class="control__btn" data-fx="Satet">Satet</button>
            <button class="control__btn" data-fx="Atum">Atum</button>
            <button class="control__btn" data-fx="Ra">Ra</button>
            <button class="control__btn" data-fx="Sobek">Sobek</button>
            <button class="control__btn" data-fx="Ptah">Ptah</button>
            <button class="control__btn" data-fx="Bes">Bes</button>
            <button class="control__btn" data-fx="Seker">Seker</button>
            <button class="control__btn" data-fx="Nut">Nut</button>
            <button class="control__btn" data-fx="Shu">Shu</button>
        </div>
    </div>

    <div class="content content--center">

        <div class="grid grid--type-c">
            <div class="grid__sizer"></div>


            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/3.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/4.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/5.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/6.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/10.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/11.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/7.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/7.jpg" alt="Some image"/></a>-->
            <!--</div>-->

            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/8.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/9.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/2.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/4.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/6.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/8.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/10.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/1.jpg" alt="Some image"/></a>-->
            <!--</div>-->
            <!--<div class="grid__item">-->
            <!--<a class="grid__link" href="#"><img class="grid__img" src="images/set3/2.jpg" alt="Some image"/></a>-->
            <!--</div>-->
        </div>
        <!--<div class="grid grid--type-c">-->
        <!--<div class="grid__sizer"></div>-->

        <!--<div class="grid__item">-->
        <!--<a class="grid__link" href="#"><img class="grid__img" src="/uploads/ig/lit-1.jpg" alt="Some image"/></a>-->

        <!--</div>-->
        <!--<div class="grid__item">-->
        <!--<a class="grid__link pater" href="http://synd.co/2oQTgFH">-->
        <!--<div class="pater__img"></div>-->
        <!--<div class="pater__content">-->
        <!--<h2 class="pater__title" aria-label="fullstory">See Every Click, Swipe, <br> and Scroll</h2>-->
        <!--<p class="pater__desc">See how users experience your designs with FullStory.</p>-->
        <!--<span class="pater__call">Get it free today!</span>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->

        <!--</div>-->

    </div>
</main>



{{#section 'scripts'}}
    <script src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script src="/javascripts/masonry.pkgd.min.js"></script>
    <script src="/javascripts/anime.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/audio-bundle.js"></script>

    <script>
        var stats = {
            step: 1
        }
        $(document).ready(function () {

            $('button[data-audio-url]').click(function () {
                $(this).children('audio')[0].play()
            })
            showTypedVoiceMailMessage()
            $('[name=email]').keypress(function () {
                if (new RegExp(/.+\@.+\..+/).test($(this).val())) {
                    $('.btn.next').removeClass('hide')

                } else {
                    hideAudioControls()
                }

            })
            $('[name=email]').focusout(function () {
                if (new RegExp(/.+\@.+\..+/).test($(this).val())) {
                    $('.btn.next').removeClass('hide')
//                    incrementStep()
                } else {
                    hideAudioControls()
                }

            })

            $('.next').click(function () {
                //1. hide the previous step
                //2. enable client side socket.io code
                showAudioControls()
            })

            $('#show-record-btn').click(function () {
                $('#record-container').toggleClass('hide')
            })

        })

        function showAudioControls () {
            $('.audio-controls').removeClass('hide')
            initAudio()
        }
        function hideAudioControls () {
            $('.audio-controls').addClass('hide')
        }

        function showTypedVoiceMailMessage () {
            $('.voice-message-text').typed({
                strings: ['Hello, you have reached the voice mail of Eric Miller. Please leave your name, number and a short message and i will get back to you as soon as possible. <br/> Thanks!'],
                typeSpeed: 0,
                html: true,
                showCursor: false,
                startDelay: 0,
                callback: function () {
                    $('#show-record-btn').removeClass('hide')
                }
            })
        }

    </script>


{{/section}}