@import url(./font-awesome.css);
@font-face {
  font-family: 'knarfart';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/knarfart/knarfart-webfont.eot");
  src: url("../fonts/knarfart/knarfart-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/knarfart/knarfart-webfont.woff2") format("woff2"), url("../fonts/knarfart/knarfart-webfont.woff") format("woff"), url("../fonts/knarfart/knarfart-webfont.ttf") format("truetype"), url("../fonts/knarfart/knarfart-webfont.svg#knarfart") format("svg"); }

body {
  padding: 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  text-rendering: geometricPrecision;
  background-color: #1e1d23;
  color: #7a7983; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 10px; } }

a, .btn-link {
  color: #ef5350 !important; }

a:hover, .btn-link:hover {
  color: #484751 !important; }

.logo {
  font-weight: 700;
  font-size: 2.25em;
  color: #ef5350;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.logo:hover {
  color: #ef5350 !important;
  text-decoration: none; }

.fart {
  font-family: 'knarfart';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container.content {
  padding: 50px 50px; }

#alert-row {
  margin-top: 50px; }

#particles-js {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%; }

.greeting,
.title {
  font-size: 2em;
  color: #fff !important;
  text-align: center; }

.br {
  border-bottom: 1px solid;
  padding: 0 10px; }

.br-o {
  border-bottom-color: rgba(239, 83, 80, 0.7) !important; }

.voice-message-text {
  height: 50%;
  min-height: 300px !important; }

.title {
  padding: 0 10px; }

.title.rbr {
  border-bottom: 1px solid rgba(239, 83, 80, 0.7); }

.skills,
.tech,
.github,
.intro,
.who {
  font-size: 1.25em;
  margin: 10px 0;
  color: #7a7983; }

.intro {
  font-size: 1.5em; }

.footer {
  margin: 20px auto; }

.footer .btn-link {
  color: #484751; }

.freelancer-status {
  position: relative;
  padding-top: 10px; }

.gps_ring-unavailable {
  position: absolute;
  top: 16px;
  left: 71px;
  width: 18px;
  height: 18px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: .0;
  border: 3px solid #e7797a;
  -webkit-border-radius: 30px; }

.gps_ring-available {
  opacity: .0;
  border: 1px solid rgba(0, 200, 83, 0.75);
  -webkit-border-radius: 10px; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: .0; }
  50% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: .0; } }

.freelancer-status p span.available {
  z-index: 99;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: -11px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  background: url("../images/available.png") no-repeat center; }

.freelancer-status p span.unavailable {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: -11px;
  background: url("../images/unavailable.png") no-repeat center; }

.scroll-container {
  margin: 100px 0;
  padding-top: 40px; }

.scroll-container:first-of-type {
  margin: 50px 0 !important; }

.voice-message-container {
  padding-top: 0 !important; }

.voice-message-container .glyphicon {
  color: #ff0080; }

.voice-message-container .btn-link {
  color: #7a7983 !important; }

.container.content section.row {
  height: 25%;
  clear: both;
  padding-top: 50px; }

.glyphicon-record {
  color: #ff0080; }

.fs-1x25 {
  font-size: 1.25em; }

.fs-1x5 {
  font-size: 1.5em; }

.fs-1x75 {
  font-size: 1.75em; }

.fs-2x {
  font-size: 2em; }

.fs-2_5x {
  font-size: 2.5em; }

.fs-3x {
  font-size: 3em; }

.fs-4x {
  font-size: 4em; }

.fs-5x {
  font-size: 5em; }

.form-control:-webkit-autofill {
  background-color: #000000 !important;
  border: 1px solid #ffeb3b; }

label.status.on {
  color: #00ff48; }

label.status.recording {
  color: #ff0080; }

.thumbnail.audio-control {
  background-color: transparent !important;
  border: 1px solid #7a7983; }

.text-muted {
  color: #484751 !important; }

a.text-muted:hover,
.btn-link.text-muted:hover {
  color: #ef5350 !important; }

.text-primary {
  color: #7a7983 !important; }

a.text-primary:hover,
a.text-primary:focus {
  color: rgba(33, 150, 243, 0.8) !important; }

.text-success {
  color: rgba(0, 255, 72, 0.9) !important; }

a.text-success:hover,
a.text-success:focus {
  color: rgba(0, 255, 72, 0.5) !important; }

.text-info {
  color: #ffffff !important; }

a.text-info:hover,
a.text-info:focus {
  color: #c8c8c8 !important; }

.text-warning {
  color: #ef5350 !important; }

a.text-warning:hover,
a.text-warning:focus {
  color: #ff464b !important; }

.text-danger {
  color: #b71c1c !important; }

a.text-danger:hover,
a.text-danger:focus {
  color: rgba(255, 0, 128, 0.7) !important; }

#show-record-btn {
  margin-top: 20px;
  line-height: 1; }

#top-scroll {
  margin: 0 15px 15px 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1030;
  min-height: 50px; }

#top-scroll a {
  color: #ef5350 !important; }

#top-scroll.affix-top {
  visibility: hidden; }

#top-scroll.affix {
  visibility: visible; }

/* Flexbox helper classes */
.flexy {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flexy--stretch {
  align-items: stretch; }

.flexy--center {
  justify-content: center; }

.flexy--row {
  flex-direction: row;
  flex-wrap: wrap; }

.flexy--padding {
  padding: 0 0 2em; }

.tiny {
  font-size: 50%; }

/* Content */
#wavebg canvas:not(#live-audio-canvas) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5; }

.content {
  position: relative;
  min-height: 100vh;
  padding: 10vh 0 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.content--highlight {
  padding: 0;
  background: rgba(0, 0, 0, 0.8); }

.content--nopadding {
  padding: 0; }

.content--boxes {
  min-height: 70vh; }

.content__inner {
  position: relative;
  z-index: 10;
  max-width: 700px;
  margin: 0 auto;
  text-align: center; }

#touch .content__inner {
  padding-top: 10vh; }

.content__inner--fheight {
  height: 60vh; }

.content__inner--half {
  flex: none;
  width: 50%;
  max-width: none;
  height: auto;
  padding: 15vh calc(25vw - 220px); }

.content__inner--half .content__title {
  font-size: 2.25em;
  margin-bottom: 0.5em;
  text-transform: uppercase; }

.content__inner--half .content__subtitle {
  font-size: 1.75em; }

.content__inner--half .link-more {
  color: rgba(0, 0, 0, 0.3); }

.content__inner--c1 {
  background: #4d61c5; }

.content__inner--c2 {
  background: #f7f4ec; }

.content__inner--c3 {
  background: #cc8969; }

.content__title {
  line-height: 1.25;
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0 5vmax 0 5vmax;
  color: #484751; }

.content__title--color {
  color: #ef5350; }

.content__title--light {
  color: #f7f4ec; }

.content__title--center {
  text-align: center; }

.content__title .icon {
  font-size: 0.45em;
  display: inline-block;
  margin: 0 0.25em;
  color: #5b5d69; }

.content__subtitle {
  font-size: 2.5em;
  font-weight: normal;
  margin: 0.5em 0 1em; }

.content__subtitle--light {
  color: #f7f4ec; }

.content--bg {
  background-position: 50% 50%;
  background-size: cover; }

.content-bg-overlay {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  text-align: center; }

.content.content--bg.content-bg-overlay {
  padding: 0 !important; }

.overlay-dark {
  background-color: rgba(30, 29, 35, 0.97); }

.overlay-light {
  background-color: rgba(0, 0, 0, 0.7); }

.content--bg-mic {
  background-image: url(../images/unsplash/mic.jpg); }

.content--bg-recorder {
  background-image: url(../images/unsplash/old-recorder.jpg);
  background-size: contain !important; }

.content--bg-code {
  background-image: url(../images/unsplash/code.jpg); }

.content--bg-code-web {
  background-image: url(../images/unsplash/code-web.jpg); }

.content--bg-code-js-1 {
  background-image: url(../images/unsplash/code-js-1.jpg); }

.content--bg-code-js-2 {
  background-image: url(../images/unsplash/code-js-2.jpg); }

.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 2000; }

.loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 45, 49, 0.7);
  background-image: url("../images/pattern.png"); }

.loading::after {
  top: 33%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  border: 8px solid #383a41;
  border-bottom-color: #565963;
  border-radius: 50%;
  animation: animLoader 0.8s linear infinite forwards; }

@-webkit-keyframes animLoader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#record-container {
  margin-top: 20px; }

.recording-section {
  margin-bottom: 25vh; }

#record-section .recording-section {
  padding-top: 5vh; }

#go-to-record {
  z-index: 100 !important;
  position: relative; }

/*# sourceMappingURL=style.css.map */