body {
  padding: 0px;
  font: 14px Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  text-rendering: geometricPrecision;
  background-color: #000000;
  color: #ffffff;
  display: block; }

a, .btn-link {
  color: #2196f3 !important; }

.content {
  position: relative;
  z-index: 0;
  padding: 150px 50px;
  color: #ff0080; }

.container.content {
  padding: 100px 50px; }

#particles-js {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%; }

.greeting {
  font-size: 2em;
  color: #fff;
  text-align: center; }

.intro {
  font-size: 1.5em; }

.skills,
.tech,
.github {
  font-size: 1.25em;
  margin: 10px 0; }

.skills {
  color: #ef5350; }

.tech {
  color: #9c27b0; }

.github {
  color: #ffeb3b; }

.footer {
  margin: 20px auto; }

.freelancer-status {
  position: relative;
  padding-top: 10px; }

.gps_ring-unavailable {
  position: absolute;
  top: 16px;
  left: 71px;
  width: 18px;
  height: 18px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: .0;
  border: 3px solid #e7797a;
  -webkit-border-radius: 30px; }

.gps_ring-available {
  opacity: .0;
  border: 1px solid rgba(0, 200, 83, 0.75);
  -webkit-border-radius: 10px; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: .0; }
  50% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: .0; } }

.freelancer-status p span.available {
  z-index: 99;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: -11px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  background: url("../images/available.png") no-repeat center; }

.freelancer-status p span.unavailable {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: -11px;
  background: url("../images/unavailable.png") no-repeat center; }

.voice-message-container .glyphicon {
  color: #ff0080; }

.voice-message-container .btn-link {
  color: #82888a !important; }

.voice-message-text {
  height: 200px;
  color: #ffffff; }

.glyphicon-record {
  color: #ff0080; }

.fs-1x25 {
  font-size: 1.25em; }

.fs-1x5 {
  font-size: 1.5em; }

.fs-1x75 {
  font-size: 1.75em; }

.fs-2x {
  font-size: 2em; }

.fs-3x {
  font-size: 3em; }

.form-control:-webkit-autofill {
  background-color: #000000 !important;
  border: 1px solid #ffeb3b; }

label.status.on {
  color: #00ff48; }

label.status.recording {
  color: #ff0080; }

.thumbnail.audio-control {
  background-color: transparent !important;
  border: 1px solid #82888a; }

.text-muted {
  color: #82888a !important; }

.text-primary {
  color: #2196f3 !important; }

a.text-primary:hover,
a.text-primary:focus {
  color: rgba(33, 150, 243, 0.8) !important; }

.text-success {
  color: #00ff48 !important; }

a.text-success:hover,
a.text-success:focus {
  color: rgba(0, 255, 72, 0.5) !important; }

.text-info {
  color: #ffffff !important; }

a.text-info:hover,
a.text-info:focus {
  color: #c8c8c8 !important; }

.text-warning {
  color: #ef5350 !important; }

a.text-warning:hover,
a.text-warning:focus {
  color: #ff464b !important; }

.text-danger {
  color: #ff0080 !important; }

a.text-danger:hover,
a.text-danger:focus {
  color: rgba(255, 0, 128, 0.7) !important; }

/*# sourceMappingURL=style.css.map */